<h1>Posts#edit</h1>
<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Cancel', posts_path %>
<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>